/* commonly used styles */
*{
    padding: 0;
    margin: 0;

}
/* header section */
.container{
    background-image: url(../resources/Banner\ Image.png);
    background-repeat: no-repeat;
    background-position: center;
    width: 1300px;
    height: 600px;
    flex-shrink: 0;
    margin: 60px 110px;
    border-radius:16px ;

}
.container h4{
    color:#FFF;
    font-family: 'Merriweather';
    font-weight: 400px;
    font-size: 32px;
    font-style: normal;
    text-align: center;
    line-height: normal;
    padding-top: 170px;
    padding-bottom: 20px;
    
}      
.container h1{
    color: #FFF;
    font-family: 'Merriweather';
    font-size: 72px;
    font-style: normal;
    line-height: 95px;
    font-weight: 900;
    text-align: center; 
    
}
/* start of main section */
/* 1st section */
.categories{
    background-color:white;
    margin: 30px 400px ; 
    text-align: center;
}
.off{
color: #F00;
text-align: center;
font-family: Inter;
font-size: 88px;
font-style: normal;
font-weight: 700;
line-height: normal;
margin-bottom: 5px;
}
.deals{
color: #F00;
text-align: center;
font-family: Inter;
font-size: 24px;
font-style: normal;
font-weight: 500;
line-height: normal;
}
.all{
color: #070211;
text-align: center;
font-family: Inter;
font-size: 48px;
font-style: normal;
font-weight: 700;
line-height: normal;
}
.img{
width: 802.9px;
height: 500px;
flex-shrink: 0;
align-items: center;
}
/* 2nd section */
.parent{
    background:url(../resources/Vectorrr.png);
    background-repeat: no-repeat;
    background-position: center;
    align-items: center;
    width: 90%;
    height: 600px;
    flex-shrink: 0;
    margin: 0 auto;
    border-radius:16px ;
    display: flex;
    padding: 50px 30px 50px 170px;
}
   
.welcoming{ 
     
     padding-left: 80px; 
    padding-top: 80px; 
    
}

.welcoming h2{
color: #FFF;
font-family: Merriweather;
font-size: 64px;
font-style: normal;
font-weight: 900;
line-height: 80px; 
letter-spacing: 7px;
}
.welcoming p{
color: grey;
font-family: Inter;
font-size: 18px;
font-style: normal;
font-weight: 400;
line-height: 20px;
margin-top: 20px;
}
.description{
width: 697px;
height: 60px;
margin-bottom: 20px;
}
.welcoming button{
    color: #FFF;
text-align: center;
font-family: Inter;
font-size: 10px;
font-style: normal;
font-weight: 400;
line-height: normal;
text-transform: uppercase;
background-color: black;
border-radius: 5px;
border: 0;
width: 103px;
height: 40px;
}
.year{ 
    display: flex;
    width: 319.83px;
    height: 464.662px;
    padding: 40px 30px 40px 80px;
    flex-direction: center;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;

}
/* 3rd section */
.list{
width: 88%;
height: 400px;
margin: 10px 110px;
background-color:#f9efef;;
background-position: center;
border-radius: 16px;
}
.unordered{
    text-align: center;
    padding:90px 50px 50px 50px ; 
    list-style: none;
    text-align: center;
    font-family: Inter;
    font-size: 30px;
    font-style: normal;
    font-weight: 600;
    line-height: 40px; 
    text-transform: capitalize;
}
.Place{
    color: #F00;
}
.date{
    color: #F00;
}
.time{
    color: #F00;
}
.black{
    color: black;
   
}
.btn{
    color: white;
    text-align: center;
    font-family: Inter;
    font-size: 10px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: uppercase;
    background-color: #f83535;
    border-radius: 8px;
    border: 0;
    width: 103px;
    height: 40px;
    display: inline-flex;
    padding: 16px 12px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin-top: 50px;
}
/* start of 4th section */
.number{
    width: 88%;
    height: 380px;
    margin: 10px 110px;
    background-color:#FFF;
    background-position: center;
    border-radius: 16px; 
    margin: 50px 110px ; 
    display: flex;
    text-align: center;
}
.offer{
    text-align: left;
    padding-top: 80px;
    line-height: normal;
    margin-right: 120px;


}
.offer h5{
color: #F00;
font-family: Inter;
font-size: 24px;
font-style: normal;
font-weight: 500;
line-height: normal;
margin-bottom: 10px;
}
.offer h3{
color: #070211;
font-family: Merriweather;
font-size: 48px;
font-style: normal;
font-weight: 900;
line-height: normal;
text-transform: capitalize;
margin-bottom: 30px;
}
.offer p{
    color: rgba(7, 2, 17, 0.60);
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 25px;
    max-width: 390px;
    
     
}
.circle-border{
height: 300px;
width: 300px;    
border: 10px solid #F00;
border-radius: 50%;
line-height: 300px;
display: inline-block;
margin: 30px 50px;
}

.pic{
    padding: 20px 0;
}

.happy{
    text-align: right;
    padding-top: 60px;
    line-height: normal;
    margin-left: 130px;
}
.happy h4{
color: #F00;
font-family: Inter;
font-size: 48px;
font-style: normal;
font-weight: 700;
line-height: normal;
margin-bottom: 20px;
}
.happy p{
color: rgba(7, 2, 17, 0.60);
font-family: Inter;
font-size: 20px;
font-style: normal;
font-weight: 400;
line-height: normal;
max-width: 276px;
max-height: 96px;
}
.happy img{
    margin-bottom: 0;
    margin-right: 30px;
    margin-top: 20px;
}
/* end of 4th section */
/* 5th */
.gift{
    width: 1320px;
    height: 1070px;
    margin: 50px 110px;
    background-color: white;

}

.top h6{
    color: #F00;
    font-family: Inter;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}
.top h2{
    color: #070211;
    font-family: Merriweather;
    font-size: 48px;
    font-style: normal;
    font-weight: 900;
    line-height: normal;
    text-transform: capitalize;
    margin-top: 20px;
}
.top p{
    color: rgb(18, 14, 14);
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 32px;
    max-width: 800px;
    line-height: normal;
    margin-top: 10px;
    margin-bottom: 30px;
}

 .row{
    display: flex;
    border-radius: 16px;
    justify-content: space-between;
} 
.shoe{
    display: flex;
    border-radius: 16px;
    margin-top: 20px;
    margin-bottom: 10px;
    justify-content: space-between;
}
/* 6th */
.fifth{
    width: 1320px;
    height: 450px;
    flex-shrink: 0;
    border-radius: 16px;
    background: rgba(255, 0, 0, 0.05);
    margin: 100px 110px;
    text-align: center;
}
.gist{
    list-style: none;
    text-align: center;
}

.small{
    width: 150px;
    height: 150px;
    flex-shrink: 0;
    align-items: center;
    padding-top: 40px;
    padding-bottom: 10px;
}   
   .bold{
    color: #070211;
    text-align: center;
    font-family: Merriweather;
    font-size: 48px;
    font-style: normal;
    font-weight: 900;
    line-height: normal;
    text-transform: capitalize;
   }
   .para{
    color: rgba(7, 2, 17, 0.60);
    text-align: center;
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 32px; 
    line-height: normal;
    text-align: center;
   }
   .put{
    background-color: #F00;
    color: white;
    text-align: center;
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    border: 0;
    width: 150px;
    height: 40px;
    display: inline-flex;
    padding: 16px 12px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-top-right-radius:30% ;
    border-bottom-right-radius: 30%;
    border: black;
    
   }
   .flex{

    max-width: 500px;
    margin: 20px auto;
    display: flex;
    
}
.flex input{
    flex-grow: 1;
    width: 350px;
    height: 40px;
    border: black;
    font-size: 15px;
    border-top-left-radius:30% ;
    border-bottom-left-radius: 30%; 
    padding-left: 50px;


}

.footer-column{
    display: flex;
    padding-left: 60px;
    padding-top: 60px;
    

}
.footer-column p{
color: #FFF;
}

/* .footer-column a{
    color:white;
    padding-left: 200px;
} */
.ab{
  color: #f9efef;
  text-align: right;
  padding-right: 40px;
  
}

.blk{
    width: 1520px;
    height: 400px;
    background-color: #070211;
}

.footer-col{
    text-align: center;
    word-spacing: 20px;
}
.footer-row{
    color: #FFF;
    text-align: left;
    padding-left: 60px;
    padding-top: 100px;
}
.un{
color: #f9efef;
text-align: right;
padding-right: 40px;
padding-top: 30px;
}